extends layout.pug

block content
	section.container
		h1.header= title
		article.item
			h2 Bienvenido #{user}
			br
			a.button.show(href="/logout") Cerrar sesión
		article.item
			form.form(method="post", action="/update/" + data._id)
				input(type="hidden", name="_method", value="PUT")
				input(type="hidden", name="_id", value=data._id.toString())
				fieldset
					div
						input(type="text", name="name", placeholder="Name", value=data.name, required)
					div
						input(type="text", name="description", placeholder="Description", value=data.description, required)
					div
						input(type="text", name="logo", placeholder="Logo", value=data.logo, required)
					div
						input.button.edit(type="submit", value="Editar")
		a.button.show(href="/") Inicio